<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <meta name="description" content="Register page">
    <meta name="author" content="Deyan Bozhilov">
    <link href="./style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form action="/register" enctype="multipart/form-data" method="post" class="user-form">
        <p class="form-title">Register</p>
        <div class="form-group">
            <label for="user">Username</label>
            <input id="user" type="text" name="user" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input id="pass" type="password" name="pass" required/>
        </div>
        <div class="form-group">
            <label for="avatar">Profile Picture</label>
            <input type="file" name="avatar" required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Register">
        </div>
        <p class="form-redirector">Already have an account? <a href="/login">Login</a></p>
    </form>
</div>
</body>
</html>
